<!DOCTYPE html>
<html>
  <body>
    <h1><%=@team.name%></h1>
    <h2>Team Motto: <%=%></h2>
    <h2>Hero Name: <%=%></h2>
    <p>Hero Power: <%=%></p>
    <p>Hero Bio: <%=%></p>
    <h2>Hero Name: <%=%></h2>
    <p>Hero Power: <%=%></p>
    <p>Hero Bio: <%=%></p>
    <h2>Hero Name: <%=%></h2>
    <p>Hero Power: <%=%></p>
    <p>Hero Bio: <%=%></p>
  </body>
</html>
